
# Core dependencies
requests
pandas
psycopg2-binary
python-dotenv
sqlalchemy
openpyxl

# dbt
dbt-core==1.8.0
dbt-adapters==1.1.1
dbt-postgres==1.8.0

# Orchestration
prefect

# Data quality & testing
great-expectations

# Development tools
pytest
black
flake8

# Utilities
tabulate